@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.custom-radio-btn {
  @apply w-4 h-4 border-2 border-black rounded-full flex justify-center items-center;
}

.custom-radio-btn .checkmark {
  @apply inline-block bg-black rounded-full opacity-0 transition-opacity ease-linear duration-200;
  width: 100%;
  height: 100%;
}

.custom-radio-btn input {
  @apply hidden;
}

.custom-radio-btn input:checked + .checkmark {
  @apply opacity-100;
}

.text-overflow-ellipsis {
  @apply overflow-hidden whitespace-nowrap text-ellipsis;
}
